 
<launch>
  	<arg name="yamlFile" default="$(find rpwc_bridge)/config/bridge_config.yaml"/>
  	<rosparam command="load" file="$(arg yamlFile)"/>
  	

    

    <group ns="setup1">
		<node pkg="rpwc_bridge" name="ur_bridge" type="ur_bridge_node" output="screen"/>
    	<node pkg="rpwc_bridge" name="softhand_bridge" type="softhand_bridge_node" output="screen"/>
	</group> 

</launch>
